
    body{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #181818;
    }
    .container-flex{
        position: relative;
    }
    .navbar{
        background-color: black;
        height: 90vh;
        width: 16vw;
    }
    .navbar li:hover a, .navbar li:hover i{
        color: white;
    }
    .navbar .fas, .navbar .far{
        color: #b3b3b3;
        margin-right: 16px;
        width: 16px;
        height: 16px;
    }
    .navbar a{
        font-weight: bold;
        color: #b3b3b3;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav > a > img{
        width: 70%;
    }
    .navbar hr{
        border-top: 1px solid #404040;
        margin-top: 0;
        margin-bottom: 0;
    }
    .user-details a{
        color: white;
    }
    .player{
        background-color: #282828;
        height: 10vh;
        color: white;
        border-top: 2px solid black;
    }
    .player i{
        color: #b3b3b3;
    }
    .player i:hover{
        color: white;
    }
    .song-image{
        width: 6vh;
        height: 6vh;
        background-color: white;
        overflow: hidden;
    }
    .song-image img{
        width: 100%;
        object-fit: cover;
    }
    .song-details{
        height: 6vh;
    }
    .song-details p{
        margin: 0;
    }
    #current-song-artist{
        font-size: 11px;
        color: #b3b3b3;
    }
    .progress-bar{
        width: 5vw;
        height: 3px;
        background-color: #b3b3b3;
    }
    .player-controls i{
        margin-left: 3vw;
        margin-left: 3vw;
    }
    .song-duration{
        width: 70%;
        height: 3px;
    }
    .player-song-duration{
        font-size: 12px;
        color: #b3b3b3;
    }
    .navbar-menu{
        padding-right: 0px;
    }
    .jumbotron.jumbotron-fluid{
        position: relative;
        width: 100%;
        height: 40vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(23, 23, 23));
        background-size: 100%;
    }
    .content-column{
        margin-bottom: 10vh;
    }
    .content-column .row{
        margin-right: 0;
        margin-left: 0;
    }
    .content-column h2{
        color: white;
        font-weight: bold;
        padding-left: 7px;
    }
    .column-for-covers{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-left: 7px;
        padding-right: 7px;
    }
    .column-for-covers img{
        width: 100%;
        object-fit: cover;
    }
    .column-for-covers > div{
        font-size: 14px;
        font-weight: bold;
        color: white;
        width: 100%;
        text-align: center;
    }
    .column-for-covers > div > p{
        color: #a3a3a3;
        font-size: 14px;
    }
    .content-column .jumbotron p{
        color: white;
        opacity: 0.5;
        font-size: 11px;
        text-align: center;
        letter-spacing: 2px;
    }
    .content-column .jumbotron h1{
        color: white;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 64px;
        margin-bottom: 30px;
    }
    .content-column .jumbotron .btn{
        border-radius: 25px;
        width: 40%;
        font-size: 11px;
        height: 35px;
        letter-spacing: 2px;
    }
    .content-column .jumbotron i{
        color: white;
    }
    .second-div-in-jumbotrone div{
        height: 60px;
        position: relative; 
        padding: 15px 0;
    }
    .second-div-in-jumbotrone div a{
        color: white;
        opacity: 0.5;
        font-size: 12px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
        padding-bottom: 10px;
        display: inline-block;
        position: relative;
    }
    .second-div-in-jumbotrone div a:after {    
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #1db954;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .second-div-in-jumbotrone div a:hover:after { 
        width: 100%; 
        left: 0; 
    }
    .second-div-in-jumbotrone div a:hover{
        color: white;
        opacity: 1;
    }
    .btn-outline-secondary{
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border-color: white;
    }
    .cards{
        width: 90%;
        margin-left: 50px;
      }
      .cards .card{
        box-shadow: 0px -3px 32px 4px rgba(0,0,0,0.75)
      }
      .cards .col p{
        font-size: 9px;
        text-align: center;
        font-weight: 600;
        color: white;
      }
      .cards .col .cardText{
        background-color: #181818;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      
      .cards .col img{
        height: 120px;
        object-fit: cover;
      }
      .cards .card{
        border-radius: 0 !important;
        border: none !important;
      }
      .albumsHeader {
        font-weight: 600; 
        color: white; 
      
    }
