body{
  margin: 0;
  padding: 0;
  
}
#sidebar{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #060b11;

  height: 91vh;
}
.container {
  padding: 0;
}

.sidebar-header{
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  font-family: 'Montserrat';
  font-weight: 600;
}
.sidebar-header i{
  width: 30px;
  height: 30px;
  padding: 5px;
  font-size: 25px;
}
.sidebar-header p{
  margin-left: 2px;
  padding-top: 6px;
  padding-bottom: 5px;
  height: 30px;
}
#sidebar-content{
  opacity: 40%;
  margin-top: 10px;
  margin-left: 25px;
}
#sidebar-content > div{
  margin-bottom: 0.7rem;
}
#sidebar-content i {
  width: 20px;
  font-size: 1.2rem;
}

#sidebar-content a {
  font-size: 0.8rem;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}
#buttons{
  margin-top: auto;

}
#signUp{
  height: 30px;
  margin: 0 auto;
  max-width: 180px;
  border-radius: 20px;
  background-color: white;
}
.btn-success{
  margin: 0 auto;
  width: 120px;
  border-radius: 20px;
  align-items: center;
  padding-bottom: 4px;
}
#signUp p{
  font-size: 12px;
  margin-top: auto;
  font-weight: 600;
}
#login{
  height: 30px;
  margin: 10px auto 0 auto;
  max-width: 180px;
  color:white;
}
#login a{
  font-size: 17px;
  font-weight: 600;
  color: white;
  margin-top: -2px;
}

#sidebar-footer{
  margin: 10px auto 0 auto;
  max-width: 100px;
}
.footer{
  justify-content: space-around;
  display: flex;
  font-size: 12px;
}
#content{
  min-height: 91vh;
  max-height: 91vh;
  padding: 50px 50px 0 0;
  font-family: "Montserrat";
   overflow: auto;
}
.list-of-songs div {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.row{
  background: black;
  display: flex;
}

.navbar-brand{
  display: none;
}
.card-body {
  text-align: center;
}
.btnMobile{
  /* padding-bottom: 10px; */
  margin: -8px 5px 0 10px ;
  font-size: 10px;
  color: black !important;
  box-shadow: 0px -3px 32px 4px rgba(0,0,0,0.75);
  background-color: rgb(31, 177, 82);
  font-weight: 600;
}
#navbarSupportedContent a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  margin: 0 15px;
  font-weight: 600;
  letter-spacing: 2px;
}

.card {
  box-shadow: 0px -3px 32px 4px rgba(0,0,0,0.75);
  margin: 40px auto;
}
.col p{
  font-size: 9px;
  text-align: center;
  font-weight: 600;
  color: white;
}
div a{
  color:white;
}
div a:hover{
  color:white;
}
.col .cardBody{
  background-color: #182e48;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col img{
  height: 120px;
  object-fit: cover;
}
 .card{
  border-radius: 0 !important;
  border: none !important;
}
.cardRow p{
  color: white;
  font-weight: 600;
}
.play-section{
  min-height: 9vh;
  max-height: 9vh;
  background-color: rgba(46, 41, 41, 0.836);
  position: relative;
}
.musicIcons{
  display: flex;
  justify-content: center;
  color: #b3b3b2;
}
.musicIcons i{
  margin: 0 10px;
}
#emptydiv1{
  margin: 10px auto 8px auto;
  height: 5px;
  width: 500px;
  border-radius: 5px;
  background-color: #b3b3b2;
}
#sidebar-content .active i,#sidebar-content .active a{
  transform: translateX(-5px);
}
#sidebar-content .active::before{
  position: relative;
  display: inline-block;
  content: "";
  border-left: 4px solid rgb(26, 207, 90);
  width: 1px;
  transform: translateX(-24px);
}
.navbar-nav .active::after{
  display: inline-block;
  content: '';
  border-bottom: 2px solid rgb(26, 207, 90);
  width: 30px;
  transform: translate(40px, -20px);
}
.navbar-nav  a:hover{
  transform: scale(1.3);
  color: black !important;
  transition: all .2s ease-in-out;
}
#sidebar-content a:hover{
  transform: scale(1.3);
  color: gray;
  transition: all .2s ease-in-out;
}
.card:hover{
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

#mobileNav{
  display: flex;
  justify-content: space-around;
  background-color: black;
  min-height: 7vh;
  max-height: 7vh;
}
#mobileNav i{
  color: #b3b3b2;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width:768px) and (max-width:1025px){
  #sidebar{
    height: 94vh;
  }
  #content{
    min-height: 94vh;
  }
  .play-section{
    max-height: 6vh;
    min-height: 6vh;
  }
  #volume{
    position: absolute;
    top: auto;
    right: 50px !important;
  }
}
@media(max-width:767px){
  #sidebar{
    display: none;
  }
  .navbar-brand{
    display: block;
    padding: 0 10px 0 10px;
    font-size: 40px;
  }
  .navbar-brand i{
    margin-right: 20px;
  }
  .navbar-nav .active::after{
    display: none;
  }
  .navbar-nav .active a {
    color: rgb(26, 207, 90) !important;
  }
  #content{
    left: 0;
    max-width: 100%;
  }
  .play-section{
    width: 100%;
    position: fixed;
    bottom: 7vh;
    background-color: black;
  }
  #mobileNav{
    background-color: rgb(22, 27, 24);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index :2;
  }
  #mobileNav i{
    padding-top: 12px;
    color: black;
    font-size: 30px;
  }
  #emptydiv1{
    margin: 18px auto 8px auto;
    height: 5px;
    width: 250px;
    border-radius: 5px;
    background-color: #b3b3b2;
  }
  #volume{
    position: relative;
    top: auto !important;
    right: 15px !important;
  }
}